h1 {
    color: blue;
    text-align:center;
}

body {
    font-family: helvetica, arial, sans-serif;
}

.frog-holder{
   position:absolute;
   bottom: 30px;
   left:50%;
   transform: translateX(-50%);
}

html, body {
   width: 100%;  
   height: 100%;
  
   -webkit-font-smoothing: antialiased;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 h1 {
   height: 100px;
   display: flex;  /* 글자들을 한 줄로 나열하기 위해 사용 */
   justify-content: center;
   margin-top:-550px; /* 텍스트 중앙 정렬 */
   
}

pointer-particles {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1; /* 다른 요소 위에 겹쳐지지 않도록 뒤로 배치 */
}






 
 h1 span {
   position: relative;
   top: 10px;
   display: inline-block;
   animation: bounce .3s ease infinite alternate;
   font-family: 'Titan One', cursive;
   font-size: 60px;
   color: blue;
   text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .4);
 }
 
 /* 각 글자의 애니메이션 딜레이 조정 */
 h1 span:nth-child(2) { animation-delay: .1s; }
 h1 span:nth-child(3) { animation-delay: .2s; }
 h1 span:nth-child(4) { animation-delay: .3s; }
 h1 span:nth-child(5) { animation-delay: .4s; }
 h1 span:nth-child(6) { animation-delay: .5s; }
 h1 span:nth-child(7) { animation-delay: .6s; }
 h1 span:nth-child(8) { animation-delay: .7s; }
 h1 span:nth-child(9) { animation-delay: .8s; }
 h1 span:nth-child(10) { animation-delay: .9s; }
 h1 span:nth-child(11) { animation-delay: 1s; }
 
 @keyframes bounce {
   100% {
     top: -20px;
     text-shadow: 0 1px 0 #cccccc,
                  0 2px 0 #CCC,
                  0 3px 0 #CCC,
                  0 4px 0 #CCC,
                  0 5px 0 #CCC,
                  0 6px 0 #CCC,
                  0 7px 0 #CCC,
                  0 8px 0 #CCC,
                  0 9px 0 #CCC,
                  0 50px 25px rgba(0, 0, 0, .2);
   }
}


#left-container {
    left:0px;
}

#right-container {
    right : 0px;
}

.container {
    background-color: #eee;
    width: 15%;
    top : 0px;
    position : absolute;
    height: 100%;
    padding: 10px;
}


.plant-holder {
    position : relative;
    height: 14%;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
   }


 #plant1 {
    position:absolute;
    
 }  
 #plant2 {
    position:absolute;
   
 }  
 #plant3 {
    position:absolute;
    
 }  
 #plant4 {
    position:absolute;
   
 }  
 #plant5 {
    position:absolute;
    
 }  
 #plant6 {
    position:absolute;
   
 }  
 
#plant7{
    position:absolute;
   
}
#plant8 {
    position:absolute;
    
 }  
 #plant9 {
    position:absolute;
    
 }  
 #plant10 {
    position:absolute;
   
 }  
 #plant11 {
    position:absolute;
   
 }  
 #plant12 {
    position:absolute;
    
 }  
 #plant13 {
    position:absolute;
    
 }  
#plog{
    position:absolute;
    bottom : 380%;
    left: 300%;
}
#plant14{
    position:absolute;
    
}

   .plant {
    position: absolute;
    max-width: 130%;
    max-height: 120%;
    z-index: 2;
   }
  .plant.active{
    z-index:10;
  }
       
   .jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    border-radius: 2rem;
    position: absolute;
    bottom: 0.6%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
   }

   .jar-top {
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
   }
   
   .jar-bottom {
    width: 50%;
    height: 1%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
   }
   .dirt {
    width: 60%;
    height: 5%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
   }
   
   .jar-glossy-long{
    width :10%;
    height :30%;
    background-color: #eeeeee;
    position: absolute;
    border-radius: 1rem 1rem 1rem 1rem;
    bottom :20%;
    left : 5%;
   }
   
   .jar-glossy-short{
    width : 10%;
    height : 10%;
    background-color: #eeeeee;
    position : relative;
    border-radius: 1rem 1rem 1rem 1rem;
    bottom : -30%;
    left :5%;
   }
   

   