.highlight {
    background-color: yellow;
   }
   .error {
    background-color: lightcoral;
    border: red;
}

/* CSS 애니메이션: 글자 애니메이션 첨부 */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to { opacity: 1; transform: translateY(0);}
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* 0.5초 동안 페이드 인 효과 */
}

h1{
    text-align: center;
}

.css{
    display: flex;
    justify-content: center;
    align-items:center;

}

#RankingWindow{
    text-align: center;
}


p{
    text-align:center;
}

#message{
    background-color: aqua;
    border: 3px solid darkcyan;
    width: 500px; /* 요소의 너비를 지정 */
    text-align: center; /* 텍스트를 요소 안에서 가운데 정렬 */
    margin: 0 auto; /* 요소 자체를 화면 가운데 정렬 */
    padding: 10px; /* 텍스트가 border와 겹치지 않게 간격 추가 */
   
}